.container {
  display: flex;
  flex-direction: column;
}

.videoData {
  background-color: rgba(200, 200, 200, 0.5);
  margin: 0.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.titleVideo {
  font-weight: bold;
}

@media (min-width: 500px) {
  .container {
    flex-direction: row;
  }
}